<mat-toolbar color="primary">
  <span class="logo">Tattoo Parlor</span>
  <span class="spacer"></span>

  <nav *ngIf="!isMobile" class="nav-links">
    <a mat-button (click)="navigate('')">Home</a>
    <a mat-button (click)="navigate('artists')">Artists</a>
    <a mat-button (click)="navigate('contact')">Contact</a>

    <ng-container *ngIf="!isLoggedIn">
      <a mat-button (click)="navigate('register')">Register</a>
      <a mat-button (click)="navigate('login')">Login</a>
    </ng-container>

    <ng-container *ngIf="isLoggedIn">
      
       <a mat-button (click)="navigate('booking')">Booking</a>
      <a mat-button (click)="navigate('profile')">Profile</a>
    </ng-container>
  </nav>

  <button *ngIf="isMobile" mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="navigate('')">Home</button>
  <button mat-menu-item (click)="navigate('artists')">Artists</button>
  <button mat-menu-item (click)="navigate('contact')">Contact</button>

  <ng-container *ngIf="!isLoggedIn">
    <button mat-menu-item (click)="navigate('register')">Register</button>
    <button mat-menu-item (click)="navigate('login')">Login</button>
  </ng-container>

  <ng-container *ngIf="isLoggedIn">
    
  <button mat-menu-item (click)="navigate('booking')">Booking</button>
    <button mat-menu-item (click)="navigate('profile')">Profile</button>
  </ng-container>
</mat-menu>
