<div class="contact-card">
    <div class="map-container">
        <iframe
          width="100%"
          height="100%"
          style="border:0"
          loading="lazy"
          allowfullscreen
          src="https://maps.google.com/maps?q=Budapest%20Tattoo%20Studio&t=&z=13&ie=UTF8&iwloc=&output=embed">
        </iframe>
      </div>
      
    <div class="contact-info">
      <h2>Kitty Tattoo Parlor</h2>
      <p>Address: 666 Cat Alley, Budapest, Hungary</p>
      <p>Phone: 1-800-KITTEN-198</p>
      <p>Email: contact&#64;kittyparlor.com</p>
    </div>
  </div>
  