<div class="home-wrapper mat-typography">
    <h1>Kitty Tattoo Parlor</h1>
  
    <div class="card-container">
      <mat-card class="info-card">
        <img mat-card-image src="assets/images/parlor1.jpg" alt="Why choose us">
        <mat-card-title>Why Choose Us</mat-card-title>
        <mat-card-content>
          <p>On god you never had a kitten tattoo you and if you say you were, it was us, welcome back</p>
        </mat-card-content>
      </mat-card>
  
      <mat-card class="info-card">
        <img mat-card-image src="assets/images/parlor2.jpg" alt="Motivations and history">
        <mat-card-title>Our Motivations</mat-card-title>
        <mat-card-content>
          <p>Wont lie its money mostly</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  